Hi

<button [routerLink]="['/amita/def']">Amita/DEF</button>
<button [routerLink]="['/amita/ram']">Amita/ram</button>



<button [routerLink]="['/aniket/abc']">aniket/ABC</button>
<button [routerLink]="['/aniket/def']">Aniket/DEF</button>
<button [routerLink]="['/aniket/sham']">Aniket/Sham</button>

<button [routerLink]="['/ashvini/abc']">ashvini/abc</button>
<button [routerLink]="['/ashvini/def']">ashvini/def</button>
<button [routerLink]="['/ashvini/gansham']">ashvini/gansham</button>

<router-outlet></router-outlet>